body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
}

#hero{
    height:100vh;
    background-image: url("photos/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#contact-header{
    display: flex;
    justify-content: space-around;
}

.tab {
    border: solid 1px black;
    width: 50vw;
    text-align: center;
}


.nav-wrap{
    background-color: rgba(255,255,255, 0.8);
    overflow: hidden;
    padding: 14px 16px;
    height: 10vh;
    padding: 0 10vw 0 10vw;
    display: flex;
    justify-content: space-around;
}
.nav-wrap a {
    display:block;
    color: #35605A;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    float: left;
}

.nav-wrap .icon {
    display: none;
}

.services{
    margin: 0;
    padding: 0;
}

#card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
}
#social-sticky{
    position: fixed;
    top: 25%;
    margin-left: 2%;
}
#social-sticky a:not(:first-child) {display: none;}

#social-sticky a:hover ~ a{
    display:block;
}

footer {
    background-color: #4D4847;
    height: 10vh;
}


@media screen and (max-width: 600px){
    .nav-wrap a:not(:first-child) {display: none;}
    .nav-wrap a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav-wrap.responsive {position: relative;}
    .nav-wrap.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-wrap.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

